:root {
  --color-accent: oklch(74.525% 0.12575 263.6);
  --border-color: oklch(50% 10% 200 / 40%);
  color-scheme: light dark;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

html{
  accent-color: var(--color-accent);
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;

}
nav ul,
nav li {
  display: contents;
}

nav {
  display: flex; 
  text-decoration: none;
  margin-bottom: auto; 
  border-bottom-color: var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;

  border-bottom: 0.2em solid transparent;
}

nav a.current,
nav a:hover {
  border-bottom-color: var(--color-accent);
}

input,
textarea,
button,
select {
  font: inherit;
  box-sizing: border-box;
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2em;
}

.projects article {
  display: grid;   
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
  padding: 1em;
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 300%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

body.resume{
  max-width: 100ch;
  margin: auto;
  padding: 2rem;
}

.resume h2 {
  margin-top:2rem;
  border-bottom: 1px solid var(--border-color);
}

dl{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

dt {
  grid-row: 1;
}

dd {
  grid-row: 2;
}

.project-year {
  font-family: "Lucida Console", "Courier New", monospace;
}

#projects-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow:visible;
}

.legend {
  list-style: none;
  padding: 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1rem;
  border: 2px solid gray;
  border-radius: 4px;
  flex: 1;

}

.legend li{
  display:flex;
  align-items: center;
  gap: 0.5rem;

}

.legend .swatch{
  width: 20px;
  aspect-ratio: 1/1;
  background-color:var(--color);
  border-radius: 50%;
}

.container{
  display: flex;
  align-items: center;
  gap: 2rem;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}
.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

