:root {
  --color-accent: oklch(74.525% 0.12575 263.6);
  --border-color: oklch(50% 10% 200 / 40%);
  color-scheme: light dark;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

html{
  accent-color: var(--color-accent);
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;

}
nav ul,
nav li {
  display: contents;
}

nav {
  display: flex; 
  text-decoration: none;
  margin-bottom: auto; 
  border-bottom-color: var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;

  border-bottom: 0.2em solid transparent;
}

nav a.current,
nav a:hover {
  border-bottom-color: var(--color-accent);
}

input,
textarea,
button,
select {
  font: inherit;
  box-sizing: border-box;
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2em;
}

.projects article {
  display: grid;   
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
  padding: 1em;
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 300%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

body.resume{
  max-width: 100ch;
  margin: auto;
  padding: 2rem;
}

.resume h2 {
  margin-top:2rem;
  border-bottom: 1px solid var(--border-color);
}